.page {
  height: 800px;
  &_content {
    background-color: rgb(242, 237, 229);
  }

  &_header {
    background-color: black;
    color: white;
    padding: 2em;
  }

  &_topic {
    padding: 2em;
  }

  &_subtopic {
    padding: 2em;

    &_image {
      &_formulae {
        justify-content: center;
      }

      &_diagram {
        justify-content: center;
      }
    }
  }
}
